.DS_Store
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep
*.iex
*.htm
*.sct
*.map
*.bin
*.hex
JLinkLog.txt
*.Administrator
*.Maofeng
*.xckhm
*.tags
*.tags_sorted_by_file
*.RenSJ